<IfModule mod_rewrite.c>
    RewriteEngine on

    #file request to backend
        RewriteRule ^file/(.*)$ back-end/public/files/$1 [L,NS]

    #api request to backend
        RewriteRule ^api/(.*)$ back-end/public/api/$1 [L,NS]

    #empty request to front-end  (home)
        RewriteRule ^$ front-end/ [L,NS]

    #empty front request
        RewriteRule ^front-end/(.*)$ front-end/$1 [L,NS]

    RewriteRule ^(\w|\d|-|_)+$ front-end/ [L,NS]

    RewriteRule ^(.+?\..*)$ front-end/$1 [L,NS]

</IfModule>
