<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^$ front-end/ [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^front-end/(.*)$ front-end/$1 [L]


    RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^front-end/(.*)$ front-end/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^api/(.*)$ back-end/public/api/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ front-end/$1 [L]


    RewriteCond %{REQUEST_FILENAME} -f
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^(.*)$ front-end/$1 [L]

    #RewriteRule ^$ front-end/app/dist/index.html [L]
    #RewriteRule ^web/(.*)$ back-end/public/$1 [L]
</IfModule>
