<p>
    Vista de ejemplo con información de Laravel 5.4
</p>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Id:
    </label>
    <b>
      {{laravelInstance.id}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Nombre:
    </label>
    <b>
      {{laravelInstance.name}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Descripción:
    </label>
    <b>
      {{laravelInstance.description}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Estatus:
    </label>
    <b>
      {{laravelInstance.status}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Tipo:
    </label>
    <b>
      {{laravelInstance.type}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Extensión:
    </label>
    <b>
      {{laravelInstance.ext}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Propiedad 1:
    </label>
    <b>
      {{laravelInstance.laravelProperty1}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Propiedad 2:
    </label>
    <b>
      {{laravelInstance.laravelProperty2}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Propiedad 3:
    </label>
    <b>
      {{laravelInstance.laravelProperty3}}
    </b>
  </div>
</div>
<img [src]="laravelInstance.sourceUrl">
