<p>
    Vista de ejemplo con información de Angular 2.4
</p>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Id:
    </label>
    <b>
      {{angularInstance.id}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Nombre:
    </label>
    <b>
      {{angularInstance.name}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Descripción:
    </label>
    <b>
      {{angularInstance.description}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Estatus:
    </label>
    <b>
      {{angularInstance.status}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Tipo:
    </label>
    <b>
      {{angularInstance.type}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Extensión:
    </label>
    <b>
      {{angularInstance.ext}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Propiedad 1:
    </label>
    <b>
      {{angularInstance.angularProperty1}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Propiedad 2:
    </label>
    <b>
      {{angularInstance.angularProperty2}}
    </b>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
    <label>
      Propiedad 3:
    </label>
    <b>
      {{angularInstance.angularProperty3}}
    </b>
  </div>
</div>
<img [src]="angularInstance.sourceUrl">

